---
layout: sponsors
title: Sponsors
permalink: /sponsors
noTopSpacing: true
---
<link type="text/css" href="../css/index.css" rel="stylesheet" />

<div class="container tiles p-5">
    <div class="row p-3">
        <div class="col-md-12 text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien tellus, tincidunt ac nisi vel, varius tincidunt dolor. Nam scelerisque, arcu ac feugiat mattis, purus dolor placerat diam, quis vestibulum leo turpis id odio.
        </div>
    </div>
</div>
    
<div class="container-fluid bg-dark-blue py-5 text-white">
    <div class="row">
        <div class="col text-center">
            <h1>Why Sponsor Us?</h1>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12 col-md-6 px-5 py-2">
            <h3 class="d-inline">1. Engage:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien tellus, tincidunt ac nisi vel, varius tincidunt dolor. 

            <br><br>

            <h3 class="d-inline">2. Target:</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien tellus, tincidunt ac nisi vel, varius tincidunt dolor. 
        </div>
        <div class="col-12 col-md-6 px-5 py-2">
            <h3 class="d-inline">1. Engage:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien tellus, tincidunt ac nisi vel, varius tincidunt dolor.

            <br><br>

            <h3 class="d-inline">2. Target:</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien tellus, tincidunt ac nisi vel, varius tincidunt dolor.
        </div>
    </div>
</div>


<div class="container tiles p-5">

    <div class="row">
        <div class="col text-center">
            <h1>Sponsor Testiomnials</h1>
        </div>
    </div>

    <div class="row">
        <!-- Carousel for endorsements  -->
    </div>

    <hr>

    {% for sponsor in site.data.sponsors %}
    
    <div class="row p-3">
        <div class="col-md-12">
            <h1>Our {{ sponsor.sponsors }} </h1>
        </div>
    </div>
    <div class="row">
        {% for member in sponsor.members %}
        {% if sponsor.sponsors == "Sponsors" %}
            <div class="col-md-3 p-3 text-center">
        {% else %}
            <div class="col-md-4 p-3 text-center">
        {% endif %}
                    <img class="img-fluid" style="max-height: 150px;" src="/assets/imgs/sponsors/{{ member.logo }}" alt="{{ member.name }}">
                <!-- <p>{{ member.name }}</p> -->
            </div>
        {% endfor %}
    </div>
    <hr>
    
    {% endfor %}
</div>